@font-face {
    font-family: 'flagfont';
    src: url('https://github.com/Tyrexs1/hahaha/raw/refs/heads/main/flagfont.php');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'flagfont';
}
